<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Welcome to userSync</h1>
    <h4>Empowering User Management</h4>
    <ion-img
      src="https://i.pinimg.com/564x/ef/a4/bb/efa4bb17dc9b43142373419d50e0e3c1.jpg"
    ></ion-img>

    <p>
      User Control helps you manage user accounts, permissions, and roles with
      ease. Keep your team organized, secure, and efficient with intuitive tools
      designed for all your user management needs
    </p>
  </div>
  <ion-button expand="block" [routerLink]="['/login']"
    >Let's Get Start</ion-button
  >
</ion-content>
