.login-container {
    background-image: url('https://i.pinimg.com/564x/05/a2/de/05a2de9baba74cc6f8e4ab531c430514.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: transparent; 
  }

  .ion-padding{
    padding: 20px;
   
}
ion-item{
    margin-bottom: 38px;
    --background:#accfb7;
    border-radius: 10px;
}
.input{
    font-size: 300;
    padding: 20px;
    width:fit-content;
}
  
  ion-button {
    margin-top: 10px;
   
    --background:#35734a;
  }
  